<a href="https://colab.research.google.com/github/Ankitasin123/codeclause_datascience/blob/main/Project4_price_recommendation_for_online_seller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Golden Project :-

#Project 4 :-Price Recommendation for Online Sellers

In [1]:
import numpy as np
import pandas as pd

In [2]:
price_recommendation=pd.read_csv("Price_recommendation.csv" , encoding='latin1')
price_recommendation

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
135960,547920,22082,RIBBON REEL STRIPES DESIGN,2,28-03-2011 12:52,1.65,14730.0,United Kingdom
135961,547920,85053,FRENCH ENAMEL CANDLEHOLDER,3,28-03-2011 12:52,2.10,14730.0,United Kingdom
135962,547920,82482,WOODEN PICTURE FRAME WHITE FINISH,3,28-03-2011 12:52,2.55,14730.0,United Kingdom
135963,547920,47566,PARTY BUNTING,1,28-03-2011 12:52,4.95,14730.0,United Kingdom
135964,547920,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,8,28-03-2011 1,NaN,NaN,NaN

In [3]:
price_recommendation.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [4]:
price_recommendation.describe()

            Quantity      UnitPrice    CustomerID
count  135965.000000  135964.000000  92994.000000
mean        8.867723       5.186555  15287.367604
std       289.944915     106.890761   1739.594851
min    -74215.000000       0.000000  12346.000000
25%         1.000000       1.250000  13859.000000
50%         3.000000       2.460000  15181.000000
75%        10.000000       4.210000  16883.000000
max     74215.000000   16888.020000  18283.000000

In [5]:
price_recommendation.describe(include=object)

,InvoiceNo,StockCode,Description,InvoiceDate,Country
count,135965,135965,135561,135965,135964
unique,6524,3256,3186,5917,32
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,06-12-2010 16:57,United Kingdom
freq,675,735,745,675,125138

In [6]:
price_recommendation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135965 entries, 0 to 135964
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    135965 non-null  object
 1   StockCode    135965 non-null  object
 2   Description  135561 non-null  object
 3   Quantity     135965 non-null  int64
 4   InvoiceDate  135965 non-null  object
 5   UnitPrice    135964 non-null  float64
 6   CustomerID   92994 non-null   float64
 7   Country      135964 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 8.3+ MB

In [7]:
price_recommendation.isnull().sum()

InvoiceNo          0
StockCode          0
Description      404
Quantity           0
InvoiceDate        0
UnitPrice          1
CustomerID     42971
Country            1
dtype: int64

In [8]:
price_recommendation = price_recommendation.loc[price_recommendation['Quantity'] > 0]
price_recommendation = price_recommendation.loc[price_recommendation['UnitPrice'] > 0]

In [9]:
price_recommendation.isnull().sum()

InvoiceNo          0
StockCode          0
Description        0
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     42111
Country            0
dtype: int64

In [10]:
price_recommendation.nunique()

InvoiceNo      4965
StockCode      3178
Description    3127
Quantity        202
InvoiceDate    4676
UnitPrice       579
CustomerID     2076
Country          32
dtype: int64

In [11]:
price_recommendation.shape

(132795, 8)

In [12]:
price_recommendation = price_recommendation.dropna(subset=['CustomerID'])
price_recommendation.shape

(90684, 8)

In [13]:
price_recommendation.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

By using colaborative filtering

In [14]:
item_matrix = price_recommendation.pivot_table(index='CustomerID', columns='StockCode', values='Quantity',aggfunc='sum')
item_matrix.head()

StockCode,,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,...,90214K,90214M,90214P,90214R,90214S,90214V,BANK CHARGES,C2,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12352.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0

In [15]:
item_matrix = item_matrix.applymap(lambda x: 1 if x > 0 else 0)
item_matrix.head()

StockCode,,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,...,90214K,90214M,90214P,90214R,90214S,90214V,BANK CHARGES,C2,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12352.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [16]:
item_matrix.shape

(2076, 2874)

1. By Creating User-to-User Similarity Matrix

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

user_user_sim_matrix = pd.DataFrame(cosine_similarity(item_matrix))
user_user_sim_matrix

,0,1,2,3,4,5,6,7,8,9,...,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1,0.0,1.000000,0.067344,0.069296,0.028017,0.095238,0.029627,0.000000,0.000000,0.030457,...,0.038881,0.093522,0.000000,0.000000,0.056766,0.053995,0.0,0.0,0.090351,0.070041
2,0.0,0.067344,1.000000,0.057166,0.046225,0.196419,0.024441,0.074536,0.045361,0.000000,...,0.000000,0.051434,0.000000,0.000000,0.124878,0.000000,0.0,0.0,0.000000,0.023113
3,0.0,0.069296,0.057166,1.000000,0.047565,0.040423,0.000000,0.076696,0.093352,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.032125,0.000000,0.0,0.0,0.000000,0.047565
4,0.0,0.028017,0.046225,0.047565,1.000000,0.163430,0.122018,0.124035,0.075485,0.083624,...,0.000000,0.128388,0.000000,0.000000,0.025976,0.000000,0.0,0.0,0.000000,0.076923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2071,0.0,0.053995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.142857,0.000000,1.000000,0.0,0.0,0.000000,0.037062
2072,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.059235,0.000000,1.0,0.0,0.000000,0.000000
2073,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.000000,0.000000
2074,0.0,0.090351,0.000000,0.000000,0.000000,0.000000,0.032791,0.000000,0.000000,0.000000,...,0.043033,0.000000,0.000000,0.000000,0.041885,0.000000,0.0,0.0,1.000000,0.000000
2075,0.0,0.070041,0.023113,0.047565,0.076923,0.098058,0.081345,0.031009,0.075485,0.000000,...,0.066720,0.064194,0.098058,0.000000,0.103905,0.037062,0.0,0.0,0.000000,1.000000

In [18]:
user_user_sim_matrix.shape

(2076, 2076)

In [19]:
user_user_sim_matrix.columns = item_matrix.index

user_user_sim_matrix['CustomerID'] = item_matrix.index

user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12350.0,12352.0,12356.0,12359.0,12361.0,12362.0,12365.0,...,18245.0,18250.0,18257.0,18259.0,18260.0,18269.0,18270.0,18273.0,18280.0,18283.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
12347.0,0.0,1.000000,0.067344,0.069296,0.028017,0.095238,0.029627,0.000000,0.000000,0.030457,...,0.038881,0.093522,0.0,0.0,0.056766,0.053995,0.0,0.0,0.090351,0.070041
12348.0,0.0,0.067344,1.000000,0.057166,0.046225,0.196419,0.024441,0.074536,0.045361,0.000000,...,0.000000,0.051434,0.0,0.0,0.124878,0.000000,0.0,0.0,0.000000,0.023113
12350.0,0.0,0.069296,0.057166,1.000000,0.047565,0.040423,0.000000,0.076696,0.093352,0.000000,...,0.000000,0.000000,0.0,0.0,0.032125,0.000000,0.0,0.0,0.000000,0.047565
12352.0,0.0,0.028017,0.046225,0.047565,1.000000,0.163430,0.122018,0.124035,0.075485,0.083624,...,0.000000,0.128388,0.0,0.0,0.025976,0.000000,0.0,0.0,0.000000,0.076923

In [20]:
user_user_sim_matrix.loc[12414].sort_values(ascending=False)

CustomerID
12414.0    1.000000
16948.0    0.400892
12645.0    0.377964
12817.0    0.377964
14708.0    0.327327
             ...
14653.0    0.000000
14645.0    0.000000
14644.0    0.000000
14643.0    0.000000
15257.0    0.000000
Name: 12414.0, Length: 2076, dtype: float64

In [21]:
items_bought_by_12414 = set(item_matrix.loc[12414].iloc[item_matrix.loc[12414].to_numpy().nonzero()].index)
items_bought_by_12414

{'17003', '20974', '20975', '22551', '22556', '22557', 'POST'}

In [22]:
items_bought_by_12399 = set(item_matrix.loc[12399.0].iloc[item_matrix.loc[12399.0].to_numpy().nonzero()].index)
items_bought_by_12399

{'20725',
 '21080',
 '21086',
 '21094',
 '21210',
 '21212',
 '21703',
 '21914',
 '21915',
 '21936',
 '21975',
 '21976',
 '22416',
 '22417',
 '22531',
 '22534',
 '22537',
 '22547',
 '84988',
 'POST'}

In [23]:
items_to_recommend_to_12414 = items_bought_by_12414 - items_bought_by_12399
items_to_recommend_to_12414

{'17003', '20974', '20975', '22551', '22556', '22557'}

In [24]:
price_recommendation.loc[price_recommendation['StockCode'].isin(items_to_recommend_to_12414), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                   Description
StockCode
22557         PLASTERS IN TIN VINTAGE PAISLEY
22551                 PLASTERS IN TIN SPACEBOY
20974              12 PENCILS SMALL TUBE SKULL
22556           PLASTERS IN TIN CIRCUS PARADE
17003                      BROCADE RING PURSE
20975      12 PENCILS SMALL TUBE RED RETROSPOT

In [25]:
most_similar_user = user_user_sim_matrix.loc[12414].sort_values(ascending=False).reset_index().iloc[1, 0]
most_similar_user

16948.0

In [26]:
def get_items_to_recommend_cust(cust_a): 
  most_similar_user = user_user_sim_matrix.loc[cust_a].sort_values(ascending=False).reset_index().iloc[1, 0]
  items_bought_by_cust_a = set(item_matrix.loc[cust_a].iloc[item_matrix.loc[cust_a].to_numpy().nonzero()].index)
  items_bought_by_cust_b = set(item_matrix.loc[most_similar_user].iloc[item_matrix.loc[most_similar_user].to_numpy().nonzero()].index)
  items_to_recommend_to_a = items_bought_by_cust_b - items_bought_by_cust_a
  items_description = price_recommendation.loc[price_recommendation['StockCode'].isin(items_to_recommend_to_a), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
  return items_description

In [27]:
get_items_to_recommend_cust(12414.0)

                                   Description
StockCode
21094            SET/6 RED SPOTTY PAPER PLATES
21080      SET/20 RED RETROSPOT PAPER NAPKINS
21086              SET/6 RED SPOTTY PAPER CUPS
47590B             PINK HAPPY BIRTHDAY BUNTING
47590A             BLUE HAPPY BIRTHDAY BUNTING

In [28]:
get_items_to_recommend_cust(12399.0)

                                   Description
StockCode
22544                     MINI JIGSAW SPACEBOY
22492                  MINI PAINT SET VINTAGE
22083                PAPER CHAIN KIT RETROSPOT
21891         TRADITIONAL WOODEN SKIPPING ROPE
21125       SET 6 FOOTBALL CELEBRATION CANDLES
21126       SET OF 6 GIRLS CELEBRATION CANDLES
21061                   PARTY INVITES FOOTBALL
21062                   PARTY INVITES SPACEMAN
84380        SET OF 3 BUTTERFLY COOKIE CUTTERS
22964       3 PIECE SPACEBOY COOKIE CUTTER SET
21213              PACK OF 72 SKULL CAKE CASES
21544          SKULLS  WATER TRANSFER TATTOOS
22813             PACK 3 BOXES BIRD PANNETONE
84375            SET OF 20 KIDS COOKIE CUTTERS
22418                   10 COLOUR SPACEBOY PEN
16237                     SLEEPING CAT ERASERS
22530          MAGIC DRAWING SLATE DOLLY GIRL
21892       TRADITIONAL WOODEN CATCH CUP GAME
21121        SET/10 RED POLKADOT PARTY CANDLES
22333        RETROSPOT PARTY BAG + STICKER SET
22241              GARLAND WOODEN HAPPY EASTER
21358               TOAST ITS - HAPPY BIRTHDAY
47599A                         PINK PARTY BAGS
47599B                        BLUE PARTY BAGS
22607              WOODEN ROUNDERS GARDEN SET
84692              BOX OF 24 COCKTAIL PARASOLS
22543                 MINI JIGSAW BAKE A CAKE
22489           PACK OF 12 TRADITIONAL CRAYONS
22493                PAINT YOUR OWN CANVAS SET
22953       BIRTHDAY PARTY CORDON BARRIER TAPE
21380            WOODEN HAPPY BIRTHDAY GARLAND
84077        WORLD WAR 2 GLIDERS ASSTD DESIGNS
21060               PARTY INVITES BALLOON GIRL
21679                         SKULLS  STICKERS
22090                  PAPER BUNTING RETROSPOT
85227           SET OF 6 3D KIT CARDS FOR KIDS
21207           SKULL AND CROSSBONES  GARLAND
21987               PACK OF 6 SKULL PAPER CUPS
21988             PACK OF 6 SKULL PAPER PLATES
21989           PACK OF 20 SKULL PAPER NAPKINS
22332           SKULLS PARTY BAG + STICKER SET
22437            SET OF 9 BLACK SKULL BALLOONS
21211           SET OF 72 SKULL PAPER  DOILIES
21830                 ASSORTED CREEPY CRAWLIES
21059                  PARTY INVITES DINOSAURS
22334         DINOSAUR PARTY BAG + STICKER SET
21878      PACK OF 6 SANDCASTLE FLAGS ASSORTED
21224                       SET/4 SKULL BADGES
21829               DINOSAUR KEYRINGS ASSORTED
22606               WOODEN SKITTLES GARDEN SET
21219                SET/4 BADGES BALLOON GIRL
22085                  PAPER CHAIN KIT SKULLS
22545                      MINI JIGSAW BUNNIES
22613              PACK OF 20 SPACEBOY NAPKINS
22953                     BIRTHDAY BANNER TAPE
22148                   EASTER CRAFT 4 CHICKS
21222                     SET/4 BADGES BEETLES
22967      SET 3 SONG BIRD PAPER EGGS ASSORTED
22957      SET 3 PAPER VINTAGE CHICK PAPER EGG

2. By Creating Ite to Item similarity matrix

In [29]:
item_item_sim_matrix =pd.DataFrame(cosine_similarity(item_matrix.T))
item_item_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873
0,1.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,0.0,1.000000,0.0,0.174371,0.116248,0.0,0.0,0.075431,0.034280,0.122536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.047458,0.064760,0.081916
2,0.0,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,0.0,0.174371,0.0,1.000000,0.250000,0.0,0.0,0.000000,0.073721,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.046424,0.000000
4,0.0,0.116248,0.0,0.250000,1.000000,0.0,0.0,0.162221,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [30]:
item_item_sim_matrix.shape

(2874, 2874)

In [31]:
item_item_sim_matrix.columns = item_matrix.T.index

item_item_sim_matrix['StockCode'] = item_matrix.T.index
item_item_sim_matrix = item_item_sim_matrix.set_index('StockCode')
item_item_sim_matrix.head()

StockCode,,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,...,90214K,90214M,90214P,90214R,90214S,90214V,BANK CHARGES,C2,M,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
,1.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
10002,0.0,1.000000,0.0,0.174371,0.116248,0.0,0.0,0.075431,0.034280,0.122536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.047458,0.064760,0.081916
10080,0.0,0.000000,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
10120,0.0,0.174371,0.0,1.000000,0.250000,0.0,0.0,0.000000,0.073721,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.046424,0.000000
10123C,0.0,0.116248,0.0,0.250000,1.000000,0.0,0.0,0.162221,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [32]:
item_item_sim_matrix.loc['10002'].sort_values(ascending=False)

StockCode
10002     1.000000
79063C    0.232495
84976     0.232495
22549     0.230205
22407     0.220564
            ...
21744     0.000000
21747     0.000000
21749     0.000000
21750     0.000000
          0.000000
Name: 10002, Length: 2874, dtype: float64

In [33]:
top_10_similar_items = list(item_item_sim_matrix.loc['10002'].sort_values(ascending=False).iloc[:10].index)
top_10_similar_items

['10002',
 '79063C',
 '84976',
 '22549',
 '22407',
 '22554',
 '21826',
 '84745B',
 '21635',
 '22944']

In [34]:
price_recommendation.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [35]:
price_recommendation.loc[price_recommendation['StockCode'] == '90214K']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
17502,537765,90214K,"LETTER ""K"" BLING KEY RING",1,08-12-2010 12:08,1.25,14606.0,United Kingdom
39046,539610,90214K,"LETTER ""K"" BLING KEY RING",1,20-12-2010 14:33,1.25,14606.0,United Kingdom
59464,541289,90214K,"LETTER ""K"" BLING KEY RING",2,17-01-2011 13:23,1.25,14606.0,United Kingdom
83088,543281,90214K,"LETTER ""K"" BLING KEY RING",1,06-02-2011 15:34,1.25,14606.0,United Kingdom
93580,544301,90214K,"LETTER ""K"" BLING KEY RING",1,17-02-2011 12:59,1.25,14606.0,United Kingdom
103441,545063,90214K,"LETTER ""K"" BLING KEY RING",1,27-02-2011 14:26,1.25,14606.0,United Kingdom

In [36]:
price_recommendation.loc[price_recommendation['StockCode'] == '90214K'][:1]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
17502,537765,90214K,"LETTER ""K"" BLING KEY RING",1,08-12-2010 12:08,1.25,14606.0,United Kingdom

In [37]:
price_recommendation.loc[price_recommendation['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                                   Description
StockCode
10002              INFLATABLE POLITICAL GLOBE
79063C       RETRO PILL BOX KEY CHAIN,THE KING
84976                RECTANGULAR SHAPED MIRROR
22549                         PICTURE DOMINOES
22407               MONEY BOX FIRST ADE DESIGN
22554         PLASTERS IN TIN WOODLAND ANIMALS
21826                 EIGHT PIECE DINOSAUR SET
84745B         BLUE HANGING GINGHAM EASTER HEN
21635                   MADRAS NOTEBOOK LARGE
22944      CHRISTMAS METAL POSTCARD WITH BELLS

In [38]:
def get_top_similar_items(item):
  top_10_similar_items = list(item_item_sim_matrix.loc[item].sort_values(ascending=False).iloc[:10].index)
  top_10 = price_recommendation.loc[price_recommendation['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]
  return top_10

In [39]:
get_top_similar_items('84029G')

                                   Description
StockCode
84029G     KNITTED UNION FLAG HOT WATER BOTTLE
84029E          RED WOOLLY HOTTIE WHITE HEART.
22111             SCOTTIE DOG HOT WATER BOTTLE
21485         RETROSPOT HEART HOT WATER BOTTLE
21479            WHITE SKULL HOT WATER BOTTLE
22835          HOT WATER BOTTLE I AM SO POORLY
22112               CHOCOLATE HOT WATER BOTTLE
84030E           ENGLISH ROSE HOT WATER BOTTLE
22113              GREY HEART HOT WATER BOTTLE
48138                       DOORMAT UNION FLAG